<div class="sta-tc-sheet asset-sheet">
  {{!-- Header Section --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-action="editImage" title="{{actor.name}}" />
    <div class="header-fields">
      <div class="actor-name">
        <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'STA_TC.AssetName'}}" />
      </div>
      <div class="asset-type-select">
        <select name="system.assetType">
          <option value="character" {{#if (eq system.assetType "character")}}selected{{/if}}>{{localize "STA_TC.AssetTypes.Character"}}</option>
          <option value="ship" {{#if (eq system.assetType "ship")}}selected{{/if}}>{{localize "STA_TC.AssetTypes.Ship"}}</option>
          <option value="resource" {{#if (eq system.assetType "resource")}}selected{{/if}}>{{localize "STA_TC.AssetTypes.Resource"}}</option>
        </select>
      </div>
    </div>
  </header>

  {{!-- Two-column body: Powers (left) | Note + Effects (right) --}}
  <section class="sheet-body">
    <div class="asset-main-row">
      {{!-- Left: powers --}}
      <div class="powers-section">
        <div class="powers-col">
          <div class="powers-header {{#unless hasPrimaryPower}}no-primary{{/unless}}">
            <span class="col-select"></span>
            <span class="col-type">{{localize "STA_TC.Powers.Type"}}</span>
            <span class="col-power">{{localize "STA_TC.Powers.Power"}}</span>
            <span class="col-focus">{{localize "STA_TC.Powers.Focus"}}</span>
            {{#if hasPrimaryPower}}
            <span class="col-primary">{{localize "STA_TC.Powers.Primary"}}</span>
            {{/if}}
          </div>
          {{#each powersCol1}}
          <div class="power-row {{#unless ../hasPrimaryPower}}no-primary{{/unless}}">
            <input class="col-select power-select" type="radio" name="system.selectedPower" value="{{this.key}}" {{#if this.isSelected}}checked{{/if}} />
            <span class="col-type">{{this.label}}</span>
            <input class="col-power" type="number" name="{{this.valuePath}}" value="{{this.value}}" min="0" max="20" placeholder="0" />
            <input class="col-focus" type="number" name="{{this.focusPath}}" value="{{this.focus}}" min="0" max="5" placeholder="0" />
            {{#if ../hasPrimaryPower}}
            <span class="col-primary"><input class="primary-select-input" type="radio" name="system.primaryPower" value="{{this.key}}" id="primary-{{this.key}}" {{#if this.isPrimary}}checked{{/if}} /><label class="primary-select-label" for="primary-{{this.key}}"><i class="fa-star {{#if this.isPrimary}}fa-solid{{else}}fa-regular{{/if}}"></i></label></span>
            {{/if}}
          </div>
          {{/each}}
          {{#each powersCol2}}
          <div class="power-row {{#unless ../hasPrimaryPower}}no-primary{{/unless}}">
            <input class="col-select power-select" type="radio" name="system.selectedPower" value="{{this.key}}" {{#if this.isSelected}}checked{{/if}} />
            <span class="col-type">{{this.label}}</span>
            <input class="col-power" type="number" name="{{this.valuePath}}" value="{{this.value}}" min="0" max="20" placeholder="0" />
            <input class="col-focus" type="number" name="{{this.focusPath}}" value="{{this.focus}}" min="0" max="5" placeholder="0" />
            {{#if ../hasPrimaryPower}}
            <span class="col-primary"><input class="primary-select-input" type="radio" name="system.primaryPower" value="{{this.key}}" id="primary-{{this.key}}" {{#if this.isPrimary}}checked{{/if}} /><label class="primary-select-label" for="primary-{{this.key}}"><i class="fa-star {{#if this.isPrimary}}fa-solid{{else}}fa-regular{{/if}}"></i></label></span>
            {{/if}}
          </div>
          {{/each}}
        </div>
        <div class="powers-actions">
          <button type="button" class="btn perform-test" data-action="performTest">{{localize "STA_TC.PerformTest"}}</button>
          {{#unless (eq system.assetType "resource")}}
          <button type="button" class="btn roll-loss" data-action="rollForLoss">{{localize "STA_TC.RollForLoss"}}</button>
          {{/unless}}
          {{#if hasLossEffect}}
          <button type="button" class="btn undo-loss" data-action="undoLossResult">{{localize "STA_TC.UndoLossResult"}}</button>
          {{/if}}
        </div>
      </div>

      {{!-- Right: Note + Active Effects stacked --}}
      <div class="asset-side-col">
        <div class="asset-note-section">
          <label class="asset-note-label"><i class="fas fa-sticky-note"></i> {{localize "STA_TC.Asset.Note"}}</label>
          <textarea name="system.note" placeholder="{{localize 'STA_TC.Asset.NotePlaceholder'}}" class="asset-note-input">{{system.note}}</textarea>
        </div>
        <div class="asset-effects-section">
          <div class="effects-section-header">
            <h2>{{localize "STA_TC.Asset.Effects.Title"}}</h2>
            <button type="button" class="btn btn-sm" data-action="addTimedEffect" title="{{localize 'STA_TC.Asset.Effects.Add'}}"><i class="fas fa-plus"></i></button>
          </div>
          {{#if effects.length}}
          <ul class="asset-effects-list">
            {{#each effects}}
            <li class="asset-effect-row{{#if this.isUnavailable}} effect-unavailable{{/if}}">
              <img class="effect-img" src="{{this.img}}" title="{{this.name}}" />
              <div class="effect-body">
                <span class="effect-name">{{this.name}}</span>
                {{#if this.changesSummary.length}}
                <span class="effect-changes">{{#each this.changesSummary}}<span class="effect-change-tag">{{this}}</span>{{/each}}</span>
                {{/if}}
              </div>
              <span class="effect-expiry">
                {{#if this.isPermanent}}
                {{localize "STA_TC.Asset.Effects.Permanent"}}
                {{else}}
                {{localize "STA_TC.Asset.Effects.ExpiresIn" turns=this.turnsLeft}}
                {{/if}}
              </span>
              <button type="button" class="btn btn-sm effect-edit-btn" data-action="editEffect" data-effect-id="{{this.id}}" title="{{localize 'STA_TC.Asset.Effects.Edit'}}"><i class="fas fa-pen"></i></button>
              <button type="button" class="btn btn-sm effect-delete-btn" data-action="deleteEffect" data-effect-id="{{this.id}}" title="{{localize 'STA_TC.Asset.Effects.Delete'}}"><i class="fas fa-times"></i></button>
            </li>
            {{/each}}
          </ul>
          {{else}}
          <p class="effects-empty">{{localize "STA_TC.Asset.Effects.None"}}</p>
          {{/if}}
        </div>
      </div>
    </div>{{!-- end .asset-main-row --}}

    {{!-- Full-width Description --}}
    <div class="description-section">
      <h2>{{localize "STA_TC.Description"}}</h2>
      <div class="editor-container">
        <prose-mirror name="system.description" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.description}}" collaborate="true" toggled="true">
          {{{enrichedDescription}}}
        </prose-mirror>
      </div>
    </div>
  </section>
</div>
